form {
    width: 250px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    font-size: 15px;
}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}

mat-hint:not(.old-color) {
    color: red;
}

input::placeholder {
    font-weight: bold;
    opacity: .5;
    font-size: smaller;
}

.inputWidth {
    width: 100%;
}

button {
    display: inline-block;
}

.box {
    background-color: whitesmoke;
}

.login {
    margin-top: 50px;
}