<mat-drawer-container>
  <mat-drawer [(opened)]="opened" mode="side"> <!--whats inside of the drawer-->
    <div class='cart'>
      <app-cart></app-cart>
    </div>
  </mat-drawer>
  <mat-drawer-content> <!--whats outside of the drawer-->
    <div class='list'>
      <button type="button" mat-fab (click)="opened=!opened">
        <mat-icon><img src="../../../../assets/cart.png"></mat-icon>
      </button>
      <app-products-list></app-products-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>